* {
  margin: 0;
}

#Top_bar {
  height: 75px;
  display: flex;
  align-items: center;
}
#Top_bar #Logo_div img {
  width: 180px;
  height: 130px;
}
#Top_bar #Pages_div {
  width: 100vw;
  display: flex;
  justify-content: end;
}
#Top_bar #Pages_div #OnThis_page {
  font-weight: bold;
}
#Top_bar #Pages_div a {
  text-decoration: none;
  font-size: 30px;
  font-family: "Inter";
  color: black;
  margin-right: 20px;
}

#Hamburger_img {
  width: 100vw;
  height: 600px;
}

.Information_div {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 75px;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 50px;
  margin: auto;
}
.Information_div div {
  margin-bottom: 50px;
}
.Information_div .Img_description {
  width: 450px;
  height: 230px;
  font-size: 30px;
  margin-top: 50px;
}